<div>
  <h2>
  About
    <div class="pull-right" data-ng-include="'./templates/actions_tpl.html'"></div>
  </h2>
  <div data-ng-hide="hidden == true" data-ng-animate="'fade'">
	<p>
	Our Ranch is located at approximately 3500 ft in the Northeastern Sierra Nevada foothills outside of Redding, California. The Grande Mark Ranch has been owned by our family since 1988 and we have been raising cattle since 1989. Currently our herd is composed of Limousin and Angus cross bred cattle. The Limousin cattle are noted for their lean yet flavorful meat and the Angus breed is noted across America as the beef of choice, due to its remarkable flavor. Little waste occurs in our beef because the carcass is so lean.
	</p> 

	<p> 
	Our herd is raised on their natural diet of native grasses on the pastures that are naturally organic. We do not artificially fertilize the pastures and each spring if we have had adequate rainfall our pastures have grass greater than four feet tall.
	</p> 

	<p>
	Each summer the herd returns from its winter pasture to the Grande Mark Ranch for its rich summer grasses. It is during these summer months when the cows who have just calved or who have just calved in early Spring are moved onto these rich summer grasses so that rapid weight gain, and excellent milk production for their young is possible.
	</p> 

	<p>
	The calves stay with their mothers until they are ready for weaning. Calves exclusively nurse from their mothers and as they grow begin grazing. Our herd is vaccinated each summer, but neither antibiotics nor growth hormones are used to enhance their weight. This simply isn't necessary and it had never been part of our naturally raised grass fed beef program.
	</p> 

	<p>
	Today, more than ever, concerned consumers want to know where their beef was raised.
	If you would like to know more about our grass fed beef don't hesitate to call and we will be happy to answer any questions you might have. It is our mission to raise healthy, lean high quality meat for those who want to know where their food is raised.
	</p> 

	<p>
	When purchasing or beef, it is necessary that you purchase the live steer, as we do not sell individual packages of meat. The best idea is to find several friends who want high quality, naturally raised grass fed beef and go together to purchase the steer. When it is time to slaughter the animal, we arrange for the butcher to come to the ranch for this purpose. The meat then needs to hang for 3 to 4 weeks in cold storage at the butchers as this is essential to enhance its flavor and ensures more tender beef. The decision of what beef cuts you desire is worked out individually with the butcher. After the three to four weeks of hanging, the meat is then cut, wrapped and deeply frozen for eventual transportation to your home freezer. The customer works out all of these details directly with the butcher. 
	</p> 

	<p>
	Our beef is humanely raised and on pasture grass right up to the very last day before slaughter. There is no feed lot, no packing house just grass fed beef the way it has been done for generations. We hope you consider our grass fed beef for your family freezer.
	</p> 

	<p>
	Sincerely,<br />
	Jack and Kathy Collins, owners <br />
	Grande Mark Ranch, since 1988<br />
	</p>
	<br />
  </div>
</div>
