<div>
  <h2>
  Contact
    <div class="pull-right" data-ng-include="'./templates/actions_tpl.html'"></div>
  </h2>
  <div data-ng-hide="hidden == true" data-ng-animate="'fade'">
    <p>web:<br /><a href="mailto:collinsb40@gmail.com">Brian Collins</a></p>
	<p>owner:<br /><a href="mailto:jackcollins@pol.net">Jack Collins</a></p>
	<p>14461 Grande Mark Road<br />
	Oak Run CA, 96069<br />
	<br />
	530-472-1400
	</p>
	<div id="map" style='background: #fff; width:740px; height:480px; padding:2px; box-shadow:5px 7px 10px #000000;'>

	<iframe width="740" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=14461+Grande+Mark+Road+Oak+Run+CA,+96069&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,70.751953&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=14461+Grande+Mark+Rd,+Oak+Run,+California+96069&amp;ll=40.716558,-121.908245&amp;spn=0.031226,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	</center>
	</div>
  </div>
</div>
