<div>
  <h2>
  Contact
    <div class="pull-right" data-ng-include="'./templates/actions_tpl.html'"></div>
  </h2>
  <div data-ng-hide="hidden == true" data-ng-animate="'fade'">
    <p>web:<br /><a href="mailto:collinsb40@gmail.com">Brian Collins</a></p>
	<p>owner:<br /><a href="mailto:jackcollins1949@gmail.com">Jack Collins</a></p>
	<p>14461 Grande Mark Road<br />
	Oak Run CA, 96069<br />
	<br />
	530-472-1400
	</p>
    <google-map center='map.center' zoom='map.zoom' options="map.options"></google-map>    
  </div>
</div>
